<html>
<head>
	<meta charset="UTF-8"/>
</head>
<body>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<form action="CrearPlantilla" method="post">
		<h4 class="color-black"><b>CREAR PLANTILLA <br/></b>
		<p>NickName: </p>
		<input type='text' name='NickName'/>
		<p>Equipo:</p>
		<input type='text' name='Equip'/>
		<p>Nombre: </p>
		<input type='text' name='Nombre'/>
		<p>Apellido:</p>
		<input type='text' name='Apellido'/>
		<p>Posicion:</p>
		<input type='text' name='Posicion'/>
		<p>Nacionalidad:</p>
		<input type='text' name='Nacionalidad'/>
		<input type='submit' value='Guardar'/>
		<p align="center"><br><a href="/home" class="btn btn-danger"><font color="#FFFFFF">Volver</a><br></p>
		<input type="hidden" name="_csrf" value="{{token}}"/>
		
	</form>
</body>
</html>