<html>
<head>
	<meta charset="UTF-8"/>
</head>
<body>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<form action="EliminarNoticia" method="post">
		<h4 class="color-black"><b>ELIMINAR NOTICIA <br/></b>
		
		<p>Introduzca el id de la noticia a eliminar: </p>
		<input type='long' name='id'/>
		<input type='submit' value='Eliminar'/>
		
		<p align="center"><br><a href="/" class="btn btn-danger"><font color="#FFFFFF">Volver</a><br></p>
		<input type="hidden" name="_csrf" value="{{token}}"/>
		
	</form>
</body>
</html>