  
<!DOCTYPE html>

<html>
<body>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	
	

	<p align="center"><br><a href="CrearNoticia" class="btn btn-info"><font color="#FFFFFF">Crear noticias</a><br></p>
	<p align="center"><br><a href="EliminarNoticia" class="btn btn-info"><font color="#FFFFFF">Eliminar noticias</a><br></p>
	<p align="center"><br><a href="CrearUsuario" class="btn btn-primary"><font color="#000010">Crear usuario</a><br>
	<p align="center"><br><a href="EliminarUsuario" class="btn btn-primary"><font color="#000010">Eliminar usuario</a><br>
	<p align="center"><br><a href="CrearPlantilla" class="btn btn-primary"><font color="#000010">Crear plantilla</a><br>
	<p align="center"><br><a href="EliminarPlantilla" class="btn btn-primary"><font color="#000010">Eliminar plantilla</a><br>
	<p align="center"><br><a href="CrearPartidos" class="btn btn-info"><font color="#FFFFFF">Crear partidos</a><br></p>
	<p align="center"><br><a href="EliminarPartidos" class="btn btn-info"><font color="#FFFFFF">Eliminar partidos</a><br></p>
	<p align="center"><br><a href="/home" class="btn btn-danger"><font color="#FFFFFF">Volver</a><br></p>
	
    </p>
	
	
	</form>
</body>
</html>