  
<!DOCTYPE html>

<html>
<body>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<h1>Hello  {{username}}!</h1>
	
	
	{{#user}}
	<p align="center"><br><a href="NoticiasUser" class="btn btn-info"><font color="#FFFFFF">NOTICIAS</a><br></p>
	<p align="center"><br><a href="EquiposUser" class="btn btn-info"><font color="#FFFFFF">EQUIPOS</a><br></p>
	<p align="center"><br><a href="PlantillasUser" class="btn btn-info"><font color="#FFFFFF">PLANTILLA</a><br></p>
	<p align="center"><br><a href="PartidosUser" class="btn btn-info"><font color="#FFFFFF">PARTIDOS</a><br>
	{{/user}}

	{{#admin}}
	<p align="center"><br><a href="Gestion" class="btn btn-info"><font color="#FFFFFF">GESTION</a><br>
	{{/admin}}


	<form action="/logout" method="post">
		<input type="submit" value="Sign Out" />
		<input type="hidden" name="_csrf" value="{{token}}"/>
	</form>
</body>
</html>