<html>
<head>
    <meta charset="UTF-8"/>
</head>
<body>
    <p align="center"><font color="#001000" size="40" face="Arial"> NOTICIAS</font> </p>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
   

   	{{#noticia}}
	<p>{{id}} -> {{nombre}} <br>{{categoria1}} {{dia}}/{{mes}}/{{anio}}</p>
	{{/noticia}}  
	
    <p align="center"><br><a href="/CrearNoticia.html" class="btn btn-success">Crear noticia</a><br>
    <p align="center"><br><a href="/EliminarNoticia.html" class="btn btn-success">Eliminar noticia</a><br>
	<p align="center"><br><a href="/" class="btn btn-danger"><font color="#FFFFFF">Volver</a><br></p>
    </form>
</body>
</html>