<html>
<head>
	<meta charset="UTF-8"/>
</head>
<body>
	<p align="center"><font color="#001000" size="40" face="Arial"> PARTIDOS</font> </p>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<form action="Partidos" method="post">
	
	{{#partidos}}
	<p>{{idPartido}} -> {{fecha}} <br> {{hora}} <br> {{equip1}} VS {{equip2}}  {{result}}</p>
	{{/partidos}}  
					
	<p align="center"><br><a href="CrearPartidos.html" class="btn btn-success">Crear partidos</a><br>
	<p align="center"><br><a href="EliminarPartidos.html" class="btn btn-success">Eliminar partidos</a><br>
	<p align="center"><br><a href="/" class="btn btn-danger"><font color="#FFFFFF">Volver</a><br></p>	</form>
</body>
</html>